@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;

  & > h3 {
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    font-family: var(--titleFont);
    color: var(--dark);
    margin: 0;
  }

  & > ul.overflow {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    max-height: calc(100% - 2rem);
    overscroll-behavior: contain;

    & > li {
      & > a {
        background-color: transparent;
        color: var(--dark);
        opacity: 0.8; // match TOC in-view link tone
        transition:
          0.3s ease opacity,
          0.3s ease color;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
