.breadcrumb-container {
  margin: 0;
  margin-top: 0.75rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.breadcrumb-element {
  p {
    margin: 0;
    margin-left: 0.5rem;
    padding: 0;
    line-height: normal;
    font-size: inherit;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
