.content-meta {
  margin-top: 0.8rem;
  color: rgba(117, 117, 117, 1);
  font-family: var(--dateFont), var(--bodyFont), cursive;
  font-size: 1.3rem;

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
