name: Build and Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.3

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Check types and formatting
        run: bun run check

      - name: Run tests
        run: bun run test

      - name: Ensure Quartz builds
        run: bun run quartz build
